<a href="https://colab.research.google.com/github/christophercruz0/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

updated_app_df = application_df[["APPLICATION_TYPE",	"AFFILIATION",	"CLASSIFICATION",	"USE_CASE",	"ORGANIZATION"	,"STATUS"	,"INCOME_AMT"	,"SPECIAL_CONSIDERATIONS"	,"ASK_AMT",	"IS_SUCCESSFUL"]]
updated_app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [12]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
updated_app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [14]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
updated_app_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T17','T15','T29','T14','T25','T2','T12','T13','T9']
# Replace in dataframe
for app in application_types_to_replace:
    updated_app_df['APPLICATION_TYPE'] = updated_app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
updated_app_df['APPLICATION_TYPE'].value_counts()

<ipython-input-15-fc198c15cf1d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_app_df['APPLICATION_TYPE'] = updated_app_df['APPLICATION_TYPE'].replace(app,"Other")

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classifiction = updated_app_df["CLASSIFICATION"].value_counts()
classifiction

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [26]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classifiction.index.tolist()

['C1000',
 'C2000',
 'C1200',
 'C3000',
 'C2100',
 'C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [20]:
updated_app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [29]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

classifications_to_replace = ['C7000','C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150',
 'C2190',
 'C4200',
 'C5200',
 'C2600']

# Replace in dataframe
for cls in classifications_to_replace:
    updated_app_df['CLASSIFICATION'] = updated_app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
updated_app_df['CLASSIFICATION'].value_counts()

<ipython-input-29-94f1ae3bf6c1>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_app_df['CLASSIFICATION'] = updated_app_df['CLASSIFICATION'].replace(cls,"Other")

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

ap_dummies = pd.get_dummies(updated_app_df)
ap_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [31]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = ap_dummies.drop(["IS_SUCCESSFUL"],axis=1)
y = ap_dummies["IS_SUCCESSFUL"]


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [40]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
feature = X_train_scaled.shape[1]
hide_node1=15
hide_node2=14
hide_node3=1

nn = tf.keras.models.Sequential()










# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hide_node1, activation="relu", input_dim=feature))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hide_node2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=hide_node3, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 15)                660

 dense_7 (Dense)             (None, 14)                224

 dense_8 (Dense)             (None, 1)                 15

=================================================================
Total params: 899
Trainable params: 899
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 3s 2ms/step - loss: 0.6001 - accuracy: 0.6992
Epoch 2/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5600 - accuracy: 0.7262
Epoch 3/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7294
Epoch 4/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7300
Epoch 5/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7311
Epoch 6/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7317
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7313
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7334
Epoch 9/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7328
Epoch 10/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7332
Epoch 11/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7331
Epoch 12/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7336
Epoch 13/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7353
Epoch 14/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7335
Epoch 15/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7337
Epoch 16/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7355
Epoch 17/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7352
Epoch 18/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7342
Epoch 19/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7346
Epoch 20/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7346
Epoch 21/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7356
Epoch 22/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7352
Epoch 23/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5437 - accuracy: 0.7353
Epoch 24/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7353
Epoch 25/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 26/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7366
Epoch 27/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5437 - accuracy: 0.7358
Epoch 28/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7345
Epoch 29/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7360
Epoch 30/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7359
Epoch 31/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7350
Epoch 32/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7358
Epoch 33/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7356
Epoch 34/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7365
Epoch 35/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7355
Epoch 36/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7353
Epoch 37/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7362
Epoch 38/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7356
Epoch 39/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7362
Epoch 40/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7364
Epoch 41/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7368
Epoch 42/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7362
Epoch 43/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7359
Epoch 44/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7362
Epoch 45/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7356
Epoch 46/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7353
Epoch 47/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7366
Epoch 48/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7348
Epoch 49/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 50/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 51/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 52/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7364
Epoch 53/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7362
Epoch 54/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 55/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7354
Epoch 56/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7362
Epoch 57/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7361
Epoch 58/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7368
Epoch 59/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 60/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7365
Epoch 61/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7363
Epoch 62/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7363
Epoch 63/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7366
Epoch 64/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7374
Epoch 65/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7354
Epoch 66/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 67/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7364
Epoch 68/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7366
Epoch 69/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7360
Epoch 70/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7371
Epoch 71/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7367
Epoch 72/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7366
Epoch 73/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7365
Epoch 74/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7368
Epoch 75/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7369
Epoch 76/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 77/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7373
Epoch 78/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7370
Epoch 79/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7370
Epoch 80/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 81/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7370
Epoch 82/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7363
Epoch 83/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7378
Epoch 84/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7368
Epoch 85/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7368
Epoch 86/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7372
Epoch 87/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7372
Epoch 88/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7374
Epoch 89/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7370
Epoch 90/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7373
Epoch 91/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7371
Epoch 92/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7369
Epoch 93/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7377
Epoch 94/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7369
Epoch 95/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7372
Epoch 96/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7372
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7371
Epoch 98/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7374
Epoch 99/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7373
Epoch 100/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7381
Epoch 101/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7379
Epoch 102/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7369
Epoch 103/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7374
Epoch 104/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7375
Epoch 105/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7382
Epoch 106/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7367
Epoch 107/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7367
Epoch 108/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7367
Epoch 109/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7376
Epoch 110/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7368
Epoch 111/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7379
Epoch 112/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 113/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 114/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7377
Epoch 115/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7386
Epoch 116/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7368
Epoch 117/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7375
Epoch 118/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7371
Epoch 119/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7387
Epoch 120/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7369
Epoch 121/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7372
Epoch 122/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7373
Epoch 123/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7369
Epoch 124/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7366
Epoch 125/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7372
Epoch 126/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7380
Epoch 127/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7374
Epoch 128/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7380
Epoch 129/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7372
Epoch 130/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7382
Epoch 131/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7369
Epoch 132/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7371
Epoch 133/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7386
Epoch 134/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7379
Epoch 135/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7385
Epoch 136/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7371
Epoch 137/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7377
Epoch 138/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 139/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 140/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7388
Epoch 141/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7384
Epoch 142/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7377
Epoch 143/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7379
Epoch 144/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 145/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7389
Epoch 146/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7387
Epoch 147/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7396
Epoch 148/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7363
Epoch 149/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7393
Epoch 150/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7378
Epoch 151/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7375
Epoch 152/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 153/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7376
Epoch 154/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7386
Epoch 155/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7383
Epoch 156/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7380
Epoch 157/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7386
Epoch 158/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7384
Epoch 159/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7384
Epoch 160/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 161/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 162/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 163/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7381
Epoch 164/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7388
Epoch 165/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7382
Epoch 166/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7379
Epoch 167/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7383
Epoch 168/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7377
Epoch 169/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7376
Epoch 170/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7387
Epoch 171/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7379
Epoch 172/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 173/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7382
Epoch 174/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7382
Epoch 175/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7388
Epoch 176/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7384
Epoch 177/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 178/200
804/804 [==============================] - 6s 8ms/step - loss: 0.5383 - accuracy: 0.7378
Epoch 179/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5382 - accuracy: 0.7392
Epoch 180/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7385
Epoch 181/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7378
Epoch 182/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7382
Epoch 183/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7386
Epoch 184/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7376
Epoch 185/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7378
Epoch 186/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7383
Epoch 187/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7393
Epoch 188/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7384
Epoch 189/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7390
Epoch 190/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 191/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7387
Epoch 192/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 193/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7387
Epoch 194/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7393
Epoch 195/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7385
Epoch 196/200

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5563 - accuracy: 0.7276 - 488ms/epoch - 2ms/step
Loss: 0.5563253164291382, Accuracy: 0.727580189704895

In [44]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('../AlphabetSoupCharity.h5')